{% extends 'index.html' %}
{% block content %}
<div class="informacion">
  <pc>_________♡♡♡_________</pc>  
  <pc><br>📍 Dirección: Hipólito Irigoyen 1380 oeste</pc>

  <pc>🕙 Visitanos en estos horarios:<br>Martes, Miércoles y Jueves de 10hs. a 15hs. y 17hs. a 20hs.<br>
        Sábado de 10:30hs. a 14:30hs.</br></pc>

  <pc>📞 Celular: +54 9 264 469-1233</pc>
        
  <pc>💵 Formas de pago: Efectivo, Mercado Pago, Tarjeta de débito y crédito</pc>

  <pc>🚗 Hacemos envío a domicilio</pc>     

  <pc>🌜Podes visitar nuestro Instagram:</pc><a href="https://www.instagram.com/medialu_/">Ir a Instagram</a>

  <pc>_________♡♡♡_________</pc>

  <p2><br> <br> 💻¿Cómo realizo una compra desde la app web?📱<br> 
    Es facil!, elige los producto que quieras agregando al carrito🛒. Podés recorrer toda la app, ver medias, pijamas, las promos y el carrito te acompañará.
  <br>Una vez que termines haz click en "Realizar Compra", esto abrira wsp para enviarle directamente a Medialú tu pedido completo.
    <br>Y listo!✅ nosotros nos comunicamos con vos para coordinar la forma de pago y entrega♥️</br></br></br></p2>

  <pc>_________♡♡♡_________</pc>  

  <pc>🏭Directo de fábrica!!</pc>
</div>
{% endblock %}