{% extends 'base.html' %}

{% block content %}
<section class="inicio">
    <div class="texto-inicio">
        <h2>Bienvenidos a Medialú 🌙</h2>
        <p>¡Hola!
            Nuestro emprendimiento nació después de la pandemia, con una pequeña inversión y mucha ilusión: empezamos con una docena de medias y el sueño de crecer paso a paso. Con el tiempo fuimos participando en ferias de emprendedores, conociendo a más personas y ampliando nuestra familia de clientes.
            Gracias al esfuerzo y al apoyo de todos, hoy contamos con nuestro propio showroom y stock permanente de productos.
            Nos enorgullece ofrecer la mejor calidad al mejor precio, siempre priorizando la atención personalizada y el trato cercano.

            También realizamos ventas online, para que puedas elegir cómodamente el producto, modelo y talle que más te guste, y nosotros nos encargamos del resto.
            Somos una familia emprendedora que sigue creciendo día a día, con el compromiso de brindarte lo mejor en productos y atención. 💛

        <p>📍 Dirección: Hipólito Irigoyen 1380 oeste</p>

        <p>🕙 Visitanos en estos horarios:<br>Martes, Miércoles y Jueves de 10hs. a 15hs. y 17hs. a 20hs.<br>
        Sábado de 10:30hs. a 14:30hs.</br></p>

        <p>📞 Celular: 1234-5678</p>
        
        <p>💵 Formas de pago: Efectivo, Mercado Pago</p>

        <p>🚗 Hacemos envío a domicilio</p>     

        <p>🌜Podes visitar nuestro Instagram:</p><a href="https://www.instagram.com/medialu_/">Ir a Instagram</a>



        <p2><br> <br> 💻¿Cómo realizo una compra desde la app web?📱<br> 
         Es facil!, elige los producto que quieras agregando al carrito🛒 (recuerda seleccionar talle). Podés recorrer toda la app, ver medias, pijamas, las promos y el carrito te acompañará.
         <br>Una vez que termines haz click en "Realizar Compra", esto abrira wsp web para enviarle directamente a Medialú tu pedido completo.
         <br>Y listo!✅ nosotros nos comunicamos con vos para coordinar la forma de pago y entrega♥️</br></br></br></p2>
    
        <p>🏭Directo de fábrica!!</p>
    
        </div>

<div class="contenedor-franjas">
  <div class="franja-nuevos">
    <h3>❤️‍🔥¡Nuevo ingreso!❤️‍🔥</h3>
    <div class="slider">
      <img src="{{ url_for('static', filename='imagenes/pcamiserokitty1.jpg') }}" alt="Nuevo producto 1">
      <img src="{{ url_for('static', filename='imagenes/pcamiserolilo2.jpg') }}" alt="Nuevo producto 2">
      <img src="{{ url_for('static', filename='imagenes/pcamiserocorazon1.jpg') }}" alt="Nuevo producto 3">
    </div>
  </div>

  <div class="franja-promo">
    <h3><a href="{{ url_for('sale') }}" class="link-promo">¡Promo!🚀</a></h3>
    <div class="slider">
      <img src="{{ url_for('static', filename='imagenes/pcamiserokitty1.jpg') }}" alt="Nuevo producto 1">
      <img src="{{ url_for('static', filename='imagenes/pcamiserolilo2.jpg') }}" alt="Nuevo producto 2">
      <img src="{{ url_for('static', filename='imagenes/pcamiserocorazon1.jpg') }}" alt="Nuevo producto 3">
    </div>
  </div>
</div>  
</section>
{% endblock %}
