{% extends 'base.html' %}

{% block content %}
<section class="inicio">
    

<div class="contenedor-franjas">

  <section class="franja-cm">
    <h3>🔥¡Inauguramos nuestra App Web!🔥</h3>
    
    <div class="slider">
      <img src="{{ url_for('static', filename='imgpromo/cmp2.PNG') }}" alt="">
      <img src="{{ url_for('static', filename='imgpromo/cmm2.PNG') }}" alt="">
      <img src="{{ url_for('static', filename='imgpromo/cmp2.PNG') }}" alt="">
      <img src="{{ url_for('static', filename='imgpromo/cmm2.PNG') }}" alt="">
    </div>
  </section>


  <section class="franja-nuevos">
    <h3><a href="{{ url_for('novedades') }}" class="link-novedades">❤️‍🔥¡Nuevo ingreso!❤️‍🔥</a></h3>
    <p>Hace click aqui y mira todos los modelos de conjuntos deportivos!</p>
    <div class="slider">
      <img src="{{ url_for('static', filename='imgnovedades/depo3blanco.PNG') }}" alt="">
      <img src="{{ url_for('static', filename='imgnovedades/depokittyfuccia.PNG') }}" alt="">
      <img src="{{ url_for('static', filename='imgnovedades/depobombonnegro.PNG') }}" alt="">
      <img src="{{ url_for('static', filename='imgnovedades/depobellotamarron1.PNG') }}" alt="">

    </div>
  </section>

  <section class="franja-promo">
    <h3><a href="{{ url_for('sale') }}" class="link-promo">¡Promo!🚀</a></h3>
    <div class="slider">
      <img src="{{ url_for('static', filename='imgpromo/avisopromo.png') }}" alt="">
      <img src="{{ url_for('static', filename='imgpromo/avisopromo.png') }}" alt="">
      <img src="{{ url_for('static', filename='imgpromo/avisopromo.png') }}" alt="">
      <img src="{{ url_for('static', filename='imgpromo/avisopromo.png') }}" alt="">


      
    </div>
  </section>
</div>  
</section>
{% endblock %}
